body {
    background-color: rgba(247, 220, 69, 0.815);
}
span {
    display: block;
    padding-left: 5px;
}
#wrapper {
    width: 610px;
    height: 360px;
    background-color: rgb(2, 23, 31);
    min-width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 20px auto;
    padding: 20px;
    padding: 20px 10px 40px 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,21,1.12), 0 8px 10px rgba(0,0,0,3.24);
}
#num:hover {
    background-color: darkgoldenrod;
}
#keyboard {
    width: 590px;
    height: 200px;
}
.num {
    overflow: hidden;
    margin: 1px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    background-color: rgb(240, 245, 247);
    border: 1px solid rgb(226, 223, 223);
    justify-content: space-evenly;
}
.num:hover {
    background-color: rgb(203, 207, 207);
}
#Backspace {
    width: 95px;
}
#Tab {
    width: 65px;
}
#CapsLock {
    width: 89px;
}
#Enter {
    width: 80px;
}
#ShiftLeft {
    width: 85px;
} 
#ShiftRight {
    width: 85px;
}
#Space {
    width: 255px;
}
#Backslash {
    width: 65px;
}
#ControlLeft, #ControlRight {
    width: 48px;
}
#AltRight, #AltLeft{
    width: 40px;
}
#inp {
    width: 600px;
    height: 150px;
}
#row {
    display: inline-flex;
}
#Shift {
    padding: 9px 19px;
}

.up {
    padding: 9px;
    display: none;
}
.down {
    padding: 9px;
}
.word {
    display: inline-flex;
    padding: 9px 0 8px 0px;
}
#ArrowLeft, #ArrowDown, #ArrowRight, #ArrowUp {
    font-size: 10px;
}
#\ {
    padding: 18px 128px;
}
#lt, #dn, #rt, #up {
    padding: 12px;
}
#Ctrl {
    padding: 9px 6px;
}
#Win {
    padding: 9px 3px;
}
#Alt {
    padding: 9px 6px;
}

