body {
    background-color: gold;
    text-align: center;
    min-width: 600px;
}
#num:hover {
    background-color: darkgoldenrod;
}
#keyboard {
    text-align: center;
}
.num {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    border: 1px solid rgb(141, 135, 135);
    display: inline-flex;
    justify-content: space-evenly;
}
.num:hover {
    background-color: darkgoldenrod;
}
#Backspace {
    width: 90px;
}
#Tab {
    width: 60px;
}
#CapsLock {
    width: 82px;
}
#Enter {
    width: 80px;
}
#Shift {
    width: 81px;
}
#\ {
    width: 255px;
}
#\\ {
    width: 65px;
}
#Ctrl {
    width: 45px;
}
#inp {
    width: 560px;
    height: 200px;
}
#row {
    display: inline-flex;
}